# Binary outputs
*.exe
*.o
*.obj
*.pdb
*.d
*.gch
src/*.gch

# Build & System directories
.vs/
bin/
build/
dist/
.idea/
.gemini/
.antigravity
.vscode/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile.bak
